:root.theme-dark {
  --page-bg-color: var(--dark-blue);
  --accent-color: var(--bright-red);
  --title-color: #db00ff;
  --title-text-bg-color: var(--bright-red);
  --subtitle-text-color: var(--dark-blue);
  --text-color: var(--medium-pink);
  --border-color-opacity: #ff007066;
  --background-image: url("../images/cover-image-dark.png");
  --decorative-color: var(--bright-red);
}

.theme-dark .header__theme-menu-span_type_dark::before {
  display: block;
}

.theme-dark .header__theme-menu-span_type_dark::after {
  display: block;
}
