:root.theme-light {
  --page-bg-color: var(--light-pink);
  --accent-color: var(--regular-pink);
  --title-color: var(--nice-pink);
  --title-text-bg-color: var(--regular-pink);
  --subtitle-text-color: var(--dark-gray);
  --text-color: var(--dark-gray);
  --border-color-opacity: #32312d66;
  --background-image: url("../images/cover-image-light.png");
  --decorative-color: var(--dark-gray);
}

.theme-light .header__theme-menu-span_type_dark::before {
  display: none;
}

.theme-light .header__theme-menu-span_type_dark::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: var(--light-pink);
    --accent-color: var(--regular-pink);
    --title-color: var(--nice-pink);
    --title-text-bg-color: var(--regular-pink);
    --subtitle-text-color: var(--dark-gray);
    --text-color: var(--dark-gray);
    --border-color-opacity: #32312d66;
    --background-image: url("../images/cover-image-light.png");
    --decorative-color: var(--dark-gray);
  }

  .header__theme-menu-span_type_dark::before {
    display: none;
  }

  .header__theme-menu-span_type_dark::after {
    display: none;
  }
}
