.page {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 130%;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}

.header {
  font-family: inherit;
  block-size: max(100vh, var(--min-block-size));
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
  align-items: center;
  padding: var(--decoration-gap) 0;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-inline-start: var(--header-margin-inline-start);
}

.header__title-text {
  font: inherit;
  color: var(--subtitle-text-color);
  font-weight: bold;
  font-size: inherit;
  background-color: var(--title-text-bg-color);
  margin: var(--decoration-gap);
}

.header__theme-menu-span_type_dark {
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
  display: flex;
  justify-self: end;
  position: absolute;
  inline-size: 10px;
  inset-block-start: calc(var(--decoration-gap) - 10px);
  inset-inline-end: calc(var(--decoration-gap) + 50px);
}

.header__theme-menu-span_type_dark::before {
  content: "REC";
  font-weight: normal;
  color: var(--decorative-color);
  display: block;
  margin-block-start: 10px;
  margin-inline-end: 15px;
}

.header__theme-menu-span_type_dark::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decorative-color);
  margin-inline-start: 42px;
  margin-block-start: 18px;
  box-shadow: 0 0 4px 2px var(--decorative-color);
}

.header__theme-menu-button {
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  color: var(--decorative-color);
  text-transform: lowercase;
  padding: 4px 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decorative-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-block-end: 1px solid var(--decorative-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decorative-color);
  border-inline-end: 1px solid var(--decorative-color);
  inset-block-start: var(--decoration-gap);
  inset-inline-end: var(--decoration-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decorative-color);
  border-inline-start: 1px solid var(--decorative-color);
  inset-inline-start: var(--decoration-gap);
  inset-block-end: var(--decoration-gap);
}

.main {
  margin-inline-start: var(--decoration-gap);
  margin-inline-end: var(--decoration-gap);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topic {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.topic--why {
  margin-block-start: 40px;
}

.topic__title {
  font-size: var(--regular-font-size);
  line-height: 130%;
  color: var(--decorative-color);
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card__title {
  color: var(--subtitle-text-color);
  background-color: var(--title-text-bg-color);
}

.card__text {
  font-weight: normal;
  color: var(--text-color);
  margin-block-end: 20px;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.card__link:hover {
  border-block-end: 1px solid currentColor;
  cursor: pointer;
}

.subtitle {
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__list-item_image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  block-size: max(100vh, var(--min-block-size));
  position: relative;
}

.footer__title {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  margin-block-start: 40px;
}

@media (width >= 768px) {
  .header {
    margin-block-end: 40px;
    --min-block-size: 1024px;
  }

  .header__theme-menu-span_type_dark {
    --rec-position: 35px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
  }

  .header__title-text {
    inline-size: calc(50% - 20px);
    justify-self: end;
  }

  .topic {
    margin-block-start: 20px;
  }

  .topic--why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .topic--what {
    margin-block-start: 30px;
    gap: 20px;
    grid-template-columns: min-content 1fr;
  }

  .topic--what > .topic__title {
    grid-column: 1;
  }

  .topic--what > .topic__list {
    grid-column: span 2;
  }

  .topic--how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;
    margin-block-start: 30px;
  }

  .topic--how > .topic__list {
    grid-column: 2;
  }

  .topic--how > .topic__title {
    grid-row: 1 / 4;
  }

  .topic--how > .card__title {
    grid-row: 1 / 3;
  }

  .gallery {
    margin-block-start: 30px;
  }

  .gallery__list {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: 10px;
    gap: 20px;
  }

  .gallery__list-item {
    margin: 0;
  }

  .sunset_picture {
    grid-column: 1 / 3;
  }

  .ice-cream_picture {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape_picture {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books_picture {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street_picture {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .picture_question {
    grid-column: 1 / 4;
    margin-block-end: 0;
  }

  .footer {
    --min-block-size: 1024px;
  }

  .footer__title {
    justify-content: center;
    margin-block-start: 62px;
  }
}

@media (width >= 1024px) {
  .header {
    margin-block-end: 0;
    --min-block-size: 768px;
  }

  .header__theme-menu-span_type_dark {
    --rec-position: 40px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
  }

  .header__title {
    margin-inline-start: 0;
  }

  .header__title-text {
    margin-block-start: 20px;
  }

  .header__theme-menu {
    block-size: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .topic--why {
    margin-block-start: 60px;
    gap: 10px;
  }

  .topic--how {
    gap: 10px;
  }

  .topic--what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 30px;
  }

  .topic--what > .topic__title {
    grid-column: 1 / 2;
  }

  .topic--what > .topic__list {
    grid-column: 1 / -1;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    grid-template-rows: min-content 1fr;
  }

  .topic--how > .topic__list {
    margin-block-start: 10px;
  }

  .footer {
    --min-block-size: 768px;
    margin-block-start: var(--base-margin-block-size);
  }
}
